<p>reactive-user works!</p>

<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header bg-success">
                UserList
            </div>
            <div class="card-body">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>userId</th>
                        <th>emailId</th>
                        <th>password</th>
                        <th>fullName</th>
                        <th>mobileNo</th>
                        <th>Action</th>
        
                    </tr>
                    </thead>
                    <tbody>
                        @for(item of UserList;track $index)
                        {
                            <tr>
                                <td>{{$index+1}}</td>
                                <td>{{item.emailId}}</td>
                                <td>{{item.password}}</td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.mobileNo}}</td>
                                <!-- <td>
                                    <button class="btn btn-primary btn-sm" (click)="onEdit(item)">Edit</button>
                                    <button class="btn btn-danger btn-sm" (click)="onDelete(item)">Delete</button>
                                </td> -->
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header bg-success">
                UserForm
            </div>
            
                <div class="card-body">
                    <form action="" [formGroup]="userForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">emailId</label>
                            <input type="text" class="form-control" formControlName="emailId">
                            @if(userForm.controls["emailId"].touched){
                            <div class="text-danger">
                                @if(userForm.controls["emailId"].errors?.['required']){
                                    <span>this is required</span>
                                }
                                @else if (userForm.controls["emailId"].errors?.['pattern']) {
                                    <span>pattern</span>
                                }
                        </div>
                    }   </div>
                        <div class="col-6">
                            <label for="">password</label>
                            <input type="text" class="form-control" formControlName="password">
                            <div class="text-danger">
                                @if(userForm.controls["password"].errors?.['required']){
                                    <span>required</span>
                                }
                                @else if (userForm.controls["password"].errors?.['minlength']) {
                                    <span>minlength</span>
                                }
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="">fullName</label>
                            <input type="text"  class="form-control" formControlName="fullName">
                        </div>
                        <div class="col-6">
                            <label for="">mobileNo</label>
                            <input type="text" class="form-control" formControlName="mobileNo">
                        </div>
                
                
                    </div>
                    
                    <div class="row">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary" >Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            @if(userObj.userId==0){
                            <button class="btn btn-success" (click)="onSaveUser()" [disabled]="userForm.invalid">Submit</button>}
                            @else {
                               <button class="btn btn-success" >Update</button>
                            }
                            {{userObj.userId}}
                            {{userObj}}
                        </div>
                    </div>
                    </form>
                </div>
            

        
        </div>
    </div>
</div>

