<p>att-directive works!</p>
<div class="row">
    <div class="col-6" [ngClass]="divClass()">
        <h4 >
            this is -{{divClass()}}
        </h4>
    </div>
    <div class="col-6" [ngStyle]="{'color':divColor?'red':'green'}">
        <h4>hello {{firstName | uppercase}}</h4>
        <h4>hello {{firstName | lowercase}}</h4>
        <h4>hello {{firstName | titlecase}}</h4>
        <p>Original: {{ rollNumberList }}</p>
<p>Sliced: {{ rollNumberList | slice:0:3 }}</p>
<p>{{ studentObj }}</p>
<p>{{ studentObj | json }}</p>
<p>Original: {{ currentDate }}</p>
<p>Formatted: {{ currentDate | date:'dd-MM-yyyy' }}</p>
<p>Month Name: {{ currentDate | date:'dd-MMM-yyyy' }}</p>
<p>Full Month: {{ currentDate | date:'dd-MMMM-yyyy' }}</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <button class="btn btn-danger" (click)="setClassName(`bg-danger`)"> Red </button>
        <button class="btn btn-success" (click)="setClassName(`bg-success`)"> Green </button>
    </div>
</div>